extends _template

block body

  #wrapper
    nav#navbar.ui.menu.borderless.inverted
      block back
      block headline
      .right.menu
        .ui.dropdown.item 鄭爺爺
          i.icon.triangle.down
          .menu
            a.item 我的帳號
            a.item 設定
            a.item 登出
    block content
